<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <style>
      .marker {
        background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/pin.svg');
        background-size: cover;
        cursor: pointer;
      }
    </style>

    <div id="map"></div>
