.container-target{
  display: flex;
  justify-content: center;
}
.backcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 80%;
  border-radius: 8px;
  height: 88vh;
}
.backcard h1{
  margin-left: -4rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.backcard h4{
  margin-left: -8rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.targetchart{
  height: 30%;
  border-radius: 8px;
  width: 90%;
  margin-bottom: 2rem;
}
.actionbtncont{
  margin-left: 8rem;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  img{
    margin-bottom: 2rem;
  }
}
.saved_ideas{
  background-color: white;
  width: 90%;
  height: 35vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.deletebtn img{
  width: 20px;
  height: 20px;
  margin-left: 14px;
}
