.container-target{
  display: flex;
  justify-content: center;
}
.backcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90vw;
  border-radius: 8px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  box-shadow: 2px 6px 6px #6f6f6f;
}
.backcard h1{
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 10vw;
  font-weight: bold;
  margin-top: 8vw;
  margin-bottom: 20px;
}
.backcard h4{
  margin-left: -8rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.targetchart{
  height: 30%;
  border-radius: 8px;
  width: 90%;
  margin-bottom: 2rem;
}
.actionbtncont{
  margin-left: 8rem;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  img{
    margin-bottom: 2rem;
  }
}
.saved_ideas{
  background-color: white;
  width: 90%;
  height: 35vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.deletebtn img{
  width: 20px;
  height: 20px;
  margin-left: 14px;
}

.card-idea img {
  width: 130px;
  height: 100%;
}

.card-idea h2 {
  text-align: left;
  font-size: 15px;
}

.card-idea p {
  text-align: left;
  font-size: 10px;
}
