.container-target{
  display: flex;
  justify-content: center;
  height: fit-content;
}
.backcard{
  box-shadow: 10px 10px 5px #ccc;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90vw;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}
.backcard h1{
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 10vw;
  font-weight: bold;
  margin-top: 8vw;
  margin-bottom: 20px;
}
.backcard h4{
  margin-left: -8rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.targetchart{
  height: 30%;
  border-radius: 8px;
  width: 90%;
  margin-bottom: 2rem;
}
.actionbtncont{
  margin-left: 8rem;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  img{
    margin-bottom: 2rem;
  }
}
.saved_ideas{
  background-color: white;
  width: 90%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.fa-comments {
  color: #4C9F93;
}

#bnttarget{
  margin-top: 2vh;
}
