h2{
  margin-left: 1rem;
  font-weight: bold;
  font-size: 6vh;
}

h4{
  margin-left: 1rem;
}
.form-label{
  margin-left: 1rem;
  margin-right: 1rem;
}
.logtext{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logcard{
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 2px 6px 6px #6f6f6f;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  width: 90%;
  height: 100%;
  margin-left: 1.3rem;
  .form-control{
    height: 10vh;
    width: 90%;
    margin-left: 15px !important;
    border-radius: 8px;
  }
}
.form-actions .button{
  width: 50%;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
.btncontainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
}
.remember-button{
  margin-left: 16px;
}



