.resultscont{
  margin-top: 10vw;
  height: 200vh;
}

#title-result{
  font-size: 9vw;
  font-weight: bold;
  padding-top:10vw;
  padding-bottom:10vw;
  text-align: center;

}

.results-container{
  align-items: center;
  justify-content: center;

}

.title-kpi {
  font-size:5.5vw;
  font-weight: bold;

}

.split{
  font-weight: bold;
  margin-top: 10vw;
  font-size: 7.5vw;
}

#KPI{
  font-size: 12vw;
  color:  #345f61;
  font-weight: bolder;

}

.results-card-pie{
  height:90vh;
  width:90vw;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 2px 6px 6px #6f6f6f;
  line-height: 25vw;
  background: white;
}



#targetW{
  font-size: 45px;
  font-weight: bold;
}


h3{
  font-weight: bold;
}

.container-radar{
  align-items: center;
  justify-content: center;
  height:60vh;
  width:90vw;
  border-radius: 30px;
  margin-top: 30vw;
  box-shadow: 2px 6px 6px #6f6f6f;
  line-height: 25vw;
  background: white;
}

.comparison{
  font-weight: bold;
  margin-top: 10vw;
  font-size: 7.5vw;
  padding-top: 10vw;
  padding-top: 10vw;
}
