.resultscont{
  margin-top: 10vw;
  height: 203vh;
}

#title-result{
  font-size: 10vw;
  font-weight: bold;
  padding-top:10vw;
  padding-bottom:10vw;
  text-align: center;
}

.result-container{
  align-items: center;
  justify-content: center;
}

.titles--KPI{
  width: 245px;
  margin-left: 39px;
}

.title-kpi {
  font-size:5.5vw;
  font-weight: bold;
  margin-left: -67px;
  margin-right: 23px;
}


.split{
  font-weight: bold;
  margin-top: 3vw;
  font-size: 7.5vw;
}

#KPI{
  font-size: 12vw;
  color:  #345f61;
  font-weight: bolder;

}


.results-card-pie{
  height:100vh;
  width:90vw;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 2px 6px 6px #6f6f6f;
  line-height: 25vw;
  background: white;
}

#info{
    font-size: 5.5vw;
    background: #0f4fb7;
    border-radius: 50%;
    color: white;
    padding: 4px;
    text-align: center;
    margin-top: 83px;
}
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 80vw;
  color: white;
  font-size: 18px;
  // background-color: #192733;
  background-color : rgba($color: #000000, $alpha: 0.8);
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  line-height: 30px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#left {
  top: -8px;
  right: 120%;
}


.hover-text {
  position: relative;
  margin: -85px;
  text-align: center;
}

#targetW{
  font-size: 45px;
  font-weight: bold;
}

.containerpie{
  justify-content: space-around;
  margin-right: 32px;
  margin-left: -38px;
}


#info2{
  font-size: 5.5vw;
  background: #0f4fb7;
  border-radius: 50%;
  color: white;
  padding: 4px;
  text-align: center;
  margin-top: 98px;
}



h3{
  font-weight: bold;
}

.container-radar{
  align-items: center;
  justify-content: center;
  width:90vw;
  border-radius: 30px;
  margin-top: 30vw;
  box-shadow: 2px 6px 6px #6f6f6f;
  line-height: 25vw;
  background: white;
  margin-bottom: 30vh;
  height: 59vh;
}

.comparison{
  font-weight: bold;
  margin-top: 20vw;
  font-size: 7.5vw;
  padding-top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#info3{
  margin-left: 369px;
  font-size: 5.5vw;
  background: #0f4fb7;
  border-radius: 50%;
  color: white;
  padding: 4px;
  text-align: center;
  margin-top: 124px;

}

.tooltipComparison{
  margin-bottom: -20px;
  margin-right: 20px;
  margin-top: -155px;
  position: relative;
  text-align: center;
}

#maskresult{
  margin-top: -2vw;
}

#buttonsurvey {
  margin-top: -20vw;
}

.button-container {
  position: relative;
  width: 70vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13vh;
  margin-bottom: 10vh;
  overflow: hidden;
  transition: 0.5s;
  background: #a2d696, ;
  border-radius: 10vw;
  font-size: 6vw;
}




.button-container button {
  width: 101%;
  height: 100%;
  font-size: 6vw;
  background: #345f61;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: white;
  cursor: pointer;
  animation: anim2 0.7s steps(22) forwards;
}

.button-container button:hover {
  animation: anim1 0.7s steps(22) forwards;
  color: rgb(195, 191, 191);
}




.mask {
  position: absolute;
  color:  rgb(66, 64, 64);
  text-align: center;
  width: 101%;
  font-weight: lighter;
  font-size: 6vw;
  margin-top: 7vw;
  overflow: hidden;
}


@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
