
.resultscont{
  height: 160vh;
  background: linear-gradient(0deg,#BE8EB6,#5F68AA);
}
.results-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 71px;
  margin-top: 20px;
}

.results-card{
  background-color: white;
  width: 90%;
  border-radius: 12px;
  box-shadow: 10px 20px 15px #6f6f6f;
  border-radius: 20px;
  padding: 25px;
  flex-direction: row;
  margin-top: 30px;
}

#KPI {
  font-size: 45px;
  font-weight: bold;
  color: #7A56AB;
}

#targetW{
  font-size: 45px;
  font-weight: bold;

}

h1{
  text-align: left;
  font-size: 38px;
  padding: 30px 0 0 0;
  font-weight: bold;
  margin-bottom: -90px;
}

.title-kpi{
  margin-top: 130px;
}

h3{
  font-weight: bold;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 33px;
}
