
.general{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 71px;
  margin-top: 19px;
  width: 360px;
  height: 800px;
}

.card{
  background-color: white;
  height: 75vh;
  width: 90%;
  border-radius: 12px;
  box-shadow: 10px 20px 15px rgb(111, 111, 111);
  border-radius:  20px;
  padding: 0px 25px 0px 25px;
  flex-direction: row;
  margin-top: 30px;
}



.title h1{
  text-align: left;
  font-size: 38px;
  padding: 30px 0 0 0;
  font-weight: bold;
  margin-bottom: -90px;
}

.middle{
  flex-direction: column;

}

.icons1{
  font-size: 15vh;
  font-weight: lighter;
  margin-top: 48px;
  justify-items: center;
}

.fa-solid{
  font-size: 16px;
  text-align: center;
  background: #b4b8d7;
  opacity: .4;
  border-radius: 100%;
  color: white;
  padding: 20px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: right;
  display: inline-block;
  box-shadow: 5px 10px 7px rgb(168, 165, 165);
  text-align:center;
}


.current{
  background: #8f91af;
  opacity: 1;
}

.bloc{
  margin-top: 75px;
  margin-bottom: -53px;
}
.question{
font-weight: lighter;
margin-top: 66px;
margin-bottom: -42px;
font-size: 2.5vh;
}
.form-control{
  margin-top: 58px;
}

.form-group{
  margin-top: 20px;
}

.textform{
font-size: 3vh;
text-align: center;
}

.green1{
  margin-left: 20px;
  margin-bottom: -78px;
}

.question2{
  flex-direction:row ;
  margin-top: 22px;
  margin-bottom: -65px;
  font-weight: lighter;
  font-size: 2.5vh;
  margin-left: -0.8rem;
}


.icons2{
  margin-top: 27px;
  margin-bottom: -58px;
}


.green2{
  margin-left:20px;
  margin-bottom: -61px;
  padding: 12px;
}


.general3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 71px;
  margin-top: 19px;
  width: 360px;
  height: 800px;
}

.icons3{
  margin-top: -22px;
  margin-bottom: -58px;
}

.green3{
  margin-left: 20px;
  margin-top: 56px;
  margin-bottom: -125px;
}


.bloc3{
  margin-top: 102px;
  margin-bottom: 85px;
}

.question3{
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: -24px;
  font-weight: lighter;
  font-size: 3vh;
  margin-left: 0rem;
}

.sortable{
  margin-top:-39px;
}

.general4{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 71px;
  margin-top: 19px;
  width: 360px;
  height: 800px;
}

.icons4{
  margin-top: -22px;
  margin-bottom: -58px;
}

.green4{
  margin-left: 20px;
  margin-top: 56px;
  margin-bottom: -125px;
}

.bloc4{
  margin-top: 102px;
  margin-bottom: 85px;
}

.question4{
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: -24px;
  font-weight: lighter;
  font-size: 3vh;
  margin-left: 0rem;
}

.bloc5{
  margin-top: 160px;
  margin-bottom: 189px;
}

.question5{
  flex-direction: row;
  margin-top: -70px;
  margin-bottom: -40px;
  font-weight: lighter;
  font-size: 2.8vh;
  margin-left: 0rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #7A56AB;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:#7A56AB;
  cursor: pointer;
}

.icons5{
  margin-top: -145px;
  margin-bottom: -70px;
}
.slidecontainer{
  margin-top: 29px;
  margin-bottom: 47px;
}

.green5{
  margin-left:20px;
  margin-bottom: -61px;
}

.sortable2{
  margin-top: -129px;
  margin-bottom: 43px;

}

.title2 h1{
  text-align: left;
  font-size: 38px;
  padding: 30px 0 0 0;
  font-weight: bold;
  margin-bottom: -90px;
}
