.container{
  padding:20px;

}

.card{
  height:59vh;
  width:90vw;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 2px 6px 6px #6f6f6f;
  line-height: 25vw;
  margin-bottom: 25vw;
}

.cardsurvey1{
  height:67vh;
  margin-top: 15vw;;
}

.title{
  font-size: 10vw;
  font-weight: bold;
  margin-top: 8vw;
  text-align: center;
}

.icons{
  margin-left: 10vw;
  margin-top: 5vw;
}

.icons1{
  margin-left: 10vw;
  margin-top: -18vw;
}
.fa-solid{
  font-size: 5.5vw;
  background:  #dfe0e0;
  border-radius: 50%;
  color: white;
  padding:10px;
  margin-top: 20vw;
}

.fa-solid1{
  margin-top: 30vw;
}

.current{
  background:  #345f61;
}

.question{
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 20vw;
  font-style: oblique;
  margin-top: 4vw;
  margin-right: 10vw;
  text-align: center;
  padding-left: 4vw;

}

.question1{
  font-size: 6vw;
  font-weight: bold;
  font-style: oblique;
  // margin-right: 10vw;
}

.form-control{
  height:10vh;
  width:60vw;
  border-radius: 30px;
  margin-left: 15vw;
}


.slider {
  -webkit-appearance: none;
  height: 25px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: flex;
  width:60vw;
  margin-left: 13vw;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

#demo{
  margin-left: 29vw;
  font-size: 7vw;

}

.button-container {
  position: relative;
  width: 70vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  overflow: hidden;
  transition: 0.5s;
  background: #a2d696, ;
  border-radius: 10vw;
  font-size: 6vw;

}


.button-container button {
  width: 101%;
  height: 100%;
  font-size: 6vw;
  background: #345f61;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: white;
  cursor: pointer;
  animation: anim2 0.7s steps(22) forwards;
}

.button-container button:hover {
  animation: anim1 0.7s steps(22) forwards;
  color: rgb(195, 191, 191);
}


.mask {
  position: absolute;
  color:  rgb(66, 64, 64);
  text-align: center;
  width: 101%;
  font-weight: lighter;
  font-size: 6vw;
  margin-top: 7vw;
  overflow: hidden;
  text-decoration: none;
}


@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
