<div class="search-form-control ideas-form">
  <%= form_with url: chatroom_path(@chatroom), method: :get, class: "d-flex", data: {turbo: false}  do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an idea"
    %>
    <%= submit_tag "Search", class: " search-btn" %>
  <% end %>
</div>
