<div class="results-container">
  <div class="results-card">
    <div>
      <h1>My Tribe</h1>
    </div>
    <div>
      <%= render "searchbar", chatrooms: @chatrooms %></div>
    </div>
  </div>
</div>
