<div class="container">
  <div class="target_chart">
    <h1>My target</h1>
  </div>
  <br>
  <br>
  <div class="actioncont">
    <h3>My actions</h3>
    <%= image_tag "plus-circle-fill.png"%>
  </div>
  <div class="saved_ideas">
    <div class="card-idea">Idea One</div>
    <div class="card-idea">Idea Two</div>
    <div class="card-idea">Idea Three</div>
    <div class="card-idea">Idea Four</div>
  </div>
</div>
