<div class="ideas-form">
  <%= form_with url: search_path, method: :get, class: "d-flex justify-content-between", data: {turbo: false}  do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-control",
      placeholder: "Find an idea"
    %>
    <%= submit_tag "Search", class: " search-btn" %>
  <% end %>
</div>
