<div class="card about_container">
  <h1 class="title-about">About us</h1>
  <div class="about_link">
    <h3>The project</h3>
    <h3>The team</h3>
    <img class="about-team" src="https://res.cloudinary.com/carole-g/image/upload/t_Profile/v1662469422/LessIsMore_ai/carole_e9a89c.png" alt="">
    <img class="about-team"  src="https://res.cloudinary.com/carole-g/image/upload/t_Profile/v1662469418/LessIsMore_ai/pierre_i7xwhc.png" alt="">
    <img class="about-team" src="https://res.cloudinary.com/carole-g/image/upload/t_Profile/v1662469441/LessIsMore_ai/cristina_zf4aer.png" alt="">
    <img class="about-team"  src="https://res.cloudinary.com/carole-g/image/upload/t_Profile/v1662469435/LessIsMore_ai/shawn_duuugi.png" alt="">

    <h3 class="for-dev">For developers</h3>
    <a class="for-dev" href="https://github.com/SASutherland/less-is-more"><i class="fa-brands fa-github"></i></a>

  </div>
  <div class="donate_btn">
    <%= link_to "Donate", new_order_payment_path(params[:order_id]) %>
    <%# <a class="button" href="#">Donate</a> %>
  </div>
</div>
