<div class="about_container">
  <h1>About</h1>
  <div class="about_link">
    <h3>The project</h3>
    <h3>The team</h3>
    <h3>For developers</h3>
  </div>
  <div class="donate_btn">
    <a class="button" href="#">Donate</a>
  </div>
</div>
