<div class="card about_container">
  <h1 class="title-about">About us</h1>
  <div class="about_link">
    <h3 class="titleproject">The project</h3>
    <h6 class="textproject"> Less is More.ai is a project to help the community to understand the impact of our individual footprint and get customized ideas to reduce our Co2 emissions.  </h6>
    <h6 class="textproject">  We need to reach 2 tons (2000 kg) of Co2 per person in order to limit the impact of climate change and ensure liveable conditions for our kids.
    </h6>
     </h6>
    <h3 class="titleproject">The team</h3>
    <div class="card-product card1">
      <img src="https://res.cloudinary.com/carole-g/image/upload/v1662548684/LessIsMore_ai/carole_h9bxjf.jpg" />
      <div class="card-product-infos">
        <h2>Carole Gendron</h2>
        <p>CEO / Founder : Data, Analytics, Data-Artist </p>
      </div>
    </div>

    <div class="card-product card1">
      <img src="https://res.cloudinary.com/carole-g/image/upload/v1662548684/LessIsMore_ai/shawn_daxnq3.jpg" />
      <div class="card-product-infos">
        <h2>Shawn Sutherland </h2>
        <p>CTO : Chief Technology Officer </p>
      </div>
    </div>

    <div class="card-product card1">
      <img src="https://res.cloudinary.com/carole-g/image/upload/v1662548684/LessIsMore_ai/Pierre_e0f1ck.jpg" />
      <div class="card-product-infos">
        <h2>Pierre Cailleau </h2>
        <p>CBO : Chief Business Officer </p>
      </div>
    </div>

    <div class="card-product card1">
      <img src="https://res.cloudinary.com/carole-g/image/upload/v1662548684/LessIsMore_ai/cristina_rqppag.png" />
      <div class="card-product-infos">
        <h2>Cristina Nunu</h2>
        <p>CCO : Chief Communication Officer </p>
      </div>
    </div>

    <h3 class="for-dev titleproject" >For developers</h3>
    <a class="for-dev" href="https://github.com/SASutherland/less-is-more"><i class="fa-brands fa-github"></i></a>

  </div>

  <div class="donate_btn">
    <%= link_to "Donate", donations_path %>
    <%# <a class="button" href="#">Donate</a> %>

  </div>
</div>
</div>
