
<div class="container d-flex align-items-center">

  <div class="container d-flex">

    <h1 class="row picto"  > <=> </h1>
    <h2 class="row claim">Less is More is a Co2...</h2>
    <span id="typed"></span>
  </div>
</div>

<div class="greenhome d-flex align-items-center justify-content-center">
    <%= link_to "Take the Quiz!", survey_path, class: "button" %>
</div>
