
<div class="container container-home">
  <div class="row">
    <h2 class="picto"><=></h2>
    <p class="brand">Less is More</p>
    <p class="co2claim">is a Co2</p>
    <div class="typedcont">
      <h4><span data-controller="typed" id="typed"></span></h4>
    </div>
    <div class="arrow d-flex">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
    <div class="container journeys">
      <p  class=" journey">Less is More</p>
      <p class=" journey" >4-steps journey</p>
    </div>
    <div class="card-product">
      <img src="https://res.cloudinary.com/carole-g/image/upload/t_Thumbnail/v1662287545/LessIsMore_ai/survey_ydvkda.jpg" />
      <div class="card-product-infos">
        <h2>1. Take the Quiz</h2>
        <p> Profile your lifestyle by answering some questions </p>
      </div>
    </div>
    <div class="card-product">
      <img src="https://res.cloudinary.com/carole-g/image/upload/t_Thumbnail/v1662287364/LessIsMore_ai/results_elshdv.jpg" />
      <div class="card-product-infos">
        <h2>2. Get your results </h2>
        <p>Understand the Co2 footprint of your lifestyle</p>
      </div>
    </div>
    <div class="card-product">
      <img src="https://res.cloudinary.com/carole-g/image/upload/t_Thumbnail/v1662294546/LessIsMore_ai/ideas_pxf0wm.png" />
      <div class="card-product-infos">
        <h2>3. Discover ideas</h2>
        <p>Explore custom ideas to reduce your Co2 impact</p>
      </div>
    </div>
    <div class="card-product">
      <img src="https://res.cloudinary.com/carole-g/image/upload/t_Thumbnail/v1662294643/LessIsMore_ai/community_rzsnzt.png" />
      <div class="card-product-infos">
        <h2>4. Build a Community</h2>
        <p>Share and discuss ideas with your community</p>
      </div>
  </div>
</div>

  <div class="container">
    <div class="button-container">
      <a class="mask" style="font-weigth-bold" href="survey"><strong>Take the Quiz!</strong></a>
      <%= link_to ' <button type="button" name="Hover" >Take the Quiz!</button>'.html_safe, survey_path(refresh: true) %>
    </div>
  </div>
