<div class="container-fluid general d-flex">

  <div class="row card d-flex ">

    <div class="title">
      <h1 > Profile your Lifestyle </h1>
    </div>

    <div class=" middle d-flex">
      <div class="timing d-flex justify-content-between">
        <i class="fa-solid fa-user current"></i>
        <i class="fa-solid fa-car-side"></i>
        <i class="fa-solid fa-utensils"></i>
        <i class="fa-solid fa-house-chimney"></i>
        <i class="fa-solid fa-champagne-glasses"></i>
      </div>

      <h2 class="question"> Where do you live?</h2>


    <div class="form-group">
      <select class="form-control">
        <% ApplicationRecord::COUNTRIES.each do |country|%>
        <option> <%=country %> </option>
        <% end %>
      </select>
    </div>
  </div>

    <div class="wrap">
      <button class="button">Next</button>
    </div>


  </div>
</div>
