// Import page-specific CSS files here.
@import "swiper";

.fullcard-container{
  height: 260vh;
}
.body{
  height: 210vh !important;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
  border: none !important;
  background-color: white;
}

.ideas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 253vh;
}

.ideas-card {
  background-color: white;
  width: 90%;
  border-radius: 12px;
  box-shadow: 10px 20px 15px rgb(111, 111, 111);
  border-radius:  20px;
  padding: 0px 25px 0px 25px;
  flex-direction: row;
  margin-top: -508px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  height: 159vh;
}

.ideas-card h2 {
  font-size: 36px !important;
  margin-left: 0rem;
  
}

.ideas-card p {
  font-size: 18px;
  margin-bottom: 0rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.ideas-card-title {
  display: flex;
  justify-content: center;
}

.mapboxgl-popup {
  transform:none !important;
  top: 21%;
  left: 28px;
}

.mapboxgl-popup-content {
  border-radius: 5px;
  padding: 10px 10px 0px 10px !important;
  box-shadow: 10px 20px 15px rgb(111, 111, 111);
}

.swipe-instructions {
  padding-bottom: 15px;
}

.swipe-instructions p {
  font-size: 18px;
  margin-left: 0rem;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
  text-align: center;
}

.tinder--button {
  padding-top: 3px;
}

.tinder--card img {
  width: 100%;
  height: 170px;
}

.tinder--card h3 {
  font-size: 24px;
}

.tinder--card p {
  font-size: 18px;
}

.tinder--title{
  font-size: 36px;
  margin-top: 20px;
  text-align: center;
}
