// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 300px;
  border-radius: 6px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: #80C992;
}

.receiver-style {
  background-color: #449893;
}

.message-form {
  .form-control {
    margin-left: 0;
    margin-right: 0;
    width: 64vw;
    height: 9vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 0;
    &:focus{
      color: #0E0000;
    background-color: #F4F4F4;
    border-color: none;
    outline: none;
    box-shadow: none;
    }
  }
}

.message-form {
  .input {
    margin-left: 0;
  }
}

.messages {
  height: 60vh;
  overflow-y: scroll;
}

.send-btn {
  width: 100px;
  height: 9vh;
  font-size: 16px;
  font-weight: 500;
  color: #313133;
  background: #98DC92 !important;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;  // box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  padding: 10px;
  text-decoration: none;
  margin-top: 1rem;
}
