.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar h1{
  font-family: 'Rubik Microbe', cursive;
}
.avatarimg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 100;
}

.dropdown{
  display: none;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  position: absolute;
  right: 0px;
  top: 50px;

}
.dropdown-item{
  margin-bottom: 2px;
}
.dropimg{
  position: relative;
}
