// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries

@import "font-awesome";

@import "bootstrap/scss/bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/home";
@import "pages/index";

@import "pages/survey";

@import "components/navbar";
@import "components/cards";
@import "components/btn";
@import "pages/favindex";
@import "pages/about";
@import "ideas/index";


body {
  background: rgb(221,255,195);
  background: linear-gradient(to bottom, rgb(182, 244, 146), rgb(51, 139, 147));;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 1.1px;
  color:rgb(28, 28, 28);
  letter-spacing: 0.2px;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 1.1px;
}

// h1 {
//   font-size : 50px;
// }

// .typedcont {
//   color: #4FD1C5;
// }
