// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries

@import "font-awesome";

@import "bootstrap/scss/bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/home";
@import "pages/index";
@import "pages/survey";
@import "components/navbar";
@import "components/cards";
@import "components/btn";
@import "pages/favindex";
@import "pages/about";

* {
  font-family: 'Comfortaa', cursive;
  letter-spacing: 1.1px;
}
body {
  background: linear-gradient(0deg,#BE8EB6,#5F68AA);
}

h1{
  font-size : 50px;
}
.typedcont{
  color: #4FD1C5;
}
